{% extends 'base.html' %}


{% block content%}
    <header class="py-5 bg-dark text-white">
        <div class="container text-center">
            <h1 class="display-4 fw-bold">Student Performance Management System</h1>
            <p class="lead">Manage and view performance efficently</p>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4"><i class="fa-solid fa-bullhorn text-primary"></i>Notice Board</h2>

           <div class="border p-3 rounded bg-light">
            <marquee direction="up" scrollamount="2" onmouseover="this.stop()" onmouseout="this,start()">
            <ul class="list-unstyled">
            
           {% for notice in notices %}
            <li class="mb-2">
                <a href="{% url 'notice_detail' notice.id %}" target="_blank">
                   <i class="fas fa-angle-right text-primary"></i> {{notice.title}}
                </a>
            </li>
            
           {% endfor%}
            
           </ul>
           </marquee>
           </div>
        </div>
    </section>

{% endblock %}


   